.header-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-wrapper img {
  display: block;
  object-fit: contain;
  max-height: 3rem;
  width: auto;
}

.header-wrapper a {
  text-decoration: none;
  font-weight: 300;
  color: #333;
  cursor: pointer;
}

.header-wrapper a.active {
  font-weight: 900;
}

@media screen and (max-width: 650px) {
  .header-wrapper {
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
